html,
body {
  padding: 0;
  margin: 0;
  /* puntos de bg */
  background-image:
    radial-gradient(rgba(72, 8, 88, .1) 1px, transparent 1px),
    radial-gradient(rgba(72, 8, 88, .1) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
